<app-search-bar (searchTextChanged)="updateSearchText($event)"></app-search-bar>

<div class="table-container">
  <div #dashboardDiv class="table-scroll">
    <table>
      <thead>
        <tr>
          <th [ngClass]="getHeaderClass()">Produto Cadastrado</th>
          <th [ngClass]="getHeaderClass()">Quantidade</th>
          <th [ngClass]="getHeaderClass()">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of filteredProducts">
          <td class="product-cell">
            <a routerLink="/edit/{{produto.BARCODE}}">
              <button class="btn-edit">
                <i class="bi bi-pencil-fill"></i>
                <i class="bi bi-trash-fill"></i>
              </button>
            </a>
            {{ produto.NAME }}
          </td>
          <td>{{ produto.AMOUNT }}</td>
          <td><button (click)="selectProduto(produto.BARCODE)" (click)="openDialog()" class="btn-code">
            <i class="bi bi-upc-scan"></i>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
