<div class="home">
    <div class="box">
        <h1 class="text">Editar produto</h1>
        <div class="container">
            <div class="container-produto">
                <h4 class="h4">Nome</h4>
                <textarea name="name" id="name-prouto" class="produto-box"></textarea>

                <h4 class="h4" style="margin-top: 30px;">Quantidade</h4>
                <div class="quant-container">
                    <textarea name="quantidade" id="quant-produto" class="quant-box"></textarea>
                    <button class="button-quant">+</button>
                    <button class="button-quant">-</button>
                </div>

            </div>
            <div class="container-cod">
                <div class="cod"></div>
                <div class="cod-descri"></div>
                <button class="button-cod">Gerar Código</button>
            </div>
        </div>
        <div class="button-container">
            <button class="button-save">Salvar</button>
            <button class="button-delete">Excluir</button>
        </div>
    </div>
  </div>
