<div [hidden]="loading" class="home">
    <div class="box">
        <h1 class="text">Editar produto</h1>
        <div class="container">
            <div class="container-produto">
                <h4 class="h4">Nome</h4>
                <input class="produto-box" [value]="titleProduct" (input)="(onNameChange($event))"/>
                <h4 class="h4" style="margin-top: 30px;">Quantidade</h4>
                <div class="quant-container">
                    <input type="number" [value]="contador" (input)="(onAmountChange($event))" class="quant-box"/>
                    <button (click)="somar()" class="button-quant">+</button>
                    <button (click)="subtrair()" class="button-quant">-</button>
                </div>

            </div>
            <div class="container-cod">
                <svg #barcode class="cod"></svg>
                <input type="text" [value]="barcodeparams" readonly class="cod-descri">
            </div>
        </div>
        <div class="button-container">
            <button class="button-delete" (click)="deleteProduct()" >Excluir</button>
            <button class="button-save" (click)="rpdt()" >Salvar</button>
        </div>
        <button class="exit" (click)="exit()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>
