li{
  list-style-type: none;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
    width: 100%;
    height: 70px; 
}

  /* .navbar-logo {
    font-size: 20px;
    font-weight: bold;
    color: #EB8124; 
    margin-right: 10px; 
  } */


.logo-img {
  width: 150px; 
  margin-right: 40px;
  height: auto; 
  object-fit: contain; 
}
  
  .navbar-links {
    display: flex;
    align-items: center;
    background-color: #f37c23; 
    padding: 10px 10px 10px 50px;
    border-bottom-left-radius: 20px;
    justify-content: space-between;
    width: 100%;
    height: 100%;

  }
    
  .nav-button {
    background-color: transparent;
    border: none;
    color: white; 
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: #DD7010
  }
  
  .nav-button-novo {
    background-color: white;
    
    color: #f37c23; 
    font-size: 22px;
    font-weight: 900;
    border: none;
    padding: 10px 20px;
    border-radius: 10px; 
    list-style-type: none;
    text-decoration: none;
  }
  
  .nav-button-novo:hover {
    color: #DD7010;
  }

  .activebutton{
    background-color: #DD7010
  }