<div class="navbar">
  <div class="navbar-logo">
    <img src="" alt="Logo" class="logo-img" />
    <!-- <span>LOGO</span> -->
  </div>

  <nav class="navbar-links">

      <li class="nav-button">
        <a class="nav-button" routerLink="/home">home</a>
      </li>

      <li class="nav-button">
        <a class="nav-button" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-button-novo">
        <a class="nav-button-novo" routerLink="/register" > + Novo Produto </a>
      </li>

      <button class="nav-button">Sair</button>
  </nav>

</div>

<router-outlet></router-outlet>
