
<div class="container total">
  <div class="row">
    <!-- Col-1, left side -->
    <div class="col">
      <h3>Produtos Cadastrados</h3>
      <div class="box-card-quantity card">
        <div class="label-total card-body">
          {{qtdt}}
          <span>
            <i class="box-icon bi bi-box-seam"></i>
          </span>
        </div>
      </div>

      <h3 class="print-label">Imprimir Relatório</h3>
      <button (click)="gerarPdf()" type="button" class="btn print-btn btn-secondary">
        Arquivo PDF
        <span>
          <i class="download-icon bi bi-download"></i>
        </span>
      </button>
    </div>

    <!-- Col-2, right side -->
    <div class="col">
      <h3>Controle de Estoque</h3>

      <!-- Abastecido -->
      <a [routerLink]="['/table-dashboard']" [queryParams]="{ filter: 'abastecido' }" style="text-decoration: none;">
        <div class="box-card-panelcontrol box-good card">
          <div class="card-body">
            <h5 class="panelcontrol-title-label">Abastecido</h5>
            <p class="panelcontrol-container-label">{{good}}</p>
          </div>
        </div>
      </a>

      <!-- Critico -->
      <a [routerLink]="['/table-dashboard']" [queryParams]="{ filter: 'critico' }" style="text-decoration: none;">
        <div class="box-card-panelcontrol box-so-so card">
          <div class="card-body">
            <h5 class="panelcontrol-title-label">Crítico</h5>
            <p class="panelcontrol-container-label">{{low}}</p>
          </div>
        </div>
      </a>

      <!-- Esgotado -->
      <a [routerLink]="['/table-dashboard']" [queryParams]="{ filter: 'esgotado' }" style="text-decoration: none;">
        <div class="text-center box-card-panelcontrol box-bad card">
          <div class="card-body">
            <h5 class="panelcontrol-title-label">Esgotado</h5>
            <p class="panelcontrol-container-label">{{out}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
